<div class="container">
  <div id="map"></div>

  <span class="icon-direction active" id="follow-location"></span>
</div>


<%= javascript_tag do %>
  window.onload = function() {
    buildMap([<%= latitude %>, <%= longitude %>]);
  }
<% end %>
