<div class="container">
  <div id="map"></div>

  <span class="icon-direction active" id="follow-location"></span>
  <span class="icon-spinner animate-spin active" id="location-loading"></span>
</div>
