<div class="container">
  <div id="map"></div>
</div>


<%= javascript_tag do %>
  $(function() {
    var initialCenter = [<%= latitude %>, <%= longitude %>];
    window.Helper = new HandlerHelper(initialCenter);
    buildMap(initialCenter);
  });
<% end %>
