<div class="container">
  <div id="map"></div>
</div>


<%= javascript_tag do %>
  $(function() {
    window.Helper = new HandlerHelper([<%= latitude %>, <%= longitude %>]);
    buildMap();
  });
<% end %>
